.slider {
  position: relative;
  width: 100%;
  margin: 20px 0;
  height: 400px;
  overflow: hidden;
  white-space: nowrap;
}

.slider:hover .backArrow, .slider:hover .nextArrow {
  display: flex;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.nextArrow {
  position: absolute;
  top: 42%;
  right: 25px;
  z-index: 999;
  color: #fff;
  display: none;
}

.backArrow {
  position: absolute;
  top: 42%;
  left: 25px;
  z-index: 999;
  color: #fff;
  display: none;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
  color: #222;
}

@media (max-width: 450px) {
  .slider {
    margin: 0;
    height: 200px;
  }
}